<div>
  <h1 class="alert alert-primary">Category list </h1>
</div>
<div>
  <form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()">
    <label>Name:</label>
    <input type="text" formControlName="name">
    <button type="submit">Add</button>
  </form>
</div>
<div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>edit</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Category of categories">
        <td>{{ Category.CategoryID }}</td>
        <td class="nav-link text-dark" (click)="openDilog(Category.CategoryID)" style="cursor: pointer;">{{
          Category.CategoryName }}</td>
        <td>
          <mat-icon (click)="updateg(Category)">edit</mat-icon>
        </td>
        <td>
          <mat-icon (click)="deleteCategory(Category.CategoryID)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="getCategories()">
      <button class="btn btn-success" type="submit">Fetch Categories</button>
    </form>
    <button class="btn btn-primary" routerLink="/home">home</button>
    <button class="btn btn-primary" routerLink="/home/products">Products</button>
  </div>
</div>