<div>
  <h1 class="alert alert-primary">Product list </h1>
</div>
<div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Category ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Product of products">
        <td>{{ Product.ProductID }}</td>
        <td>{{ Product.ProductName }}</td>
        <td>{{ Product.CategoryID }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="getProducts()">
      <button class="btn btn-success" type="submit">Fetch products</button>
    </form>
    <button class="btn btn-primary" routerLink="/home">home</button>
    <button class="btn btn-primary" routerLink="/home/categories">categories</button>
  </div>
</div>