<h2 mat-dialog-title>Products list by ID</h2>
<div mat-dialog-content>
  <div>
    <form [formGroup]="ProductFrom" (ngSubmit)="onSubmit()">
      <label>Name:</label>
      <input type="text" formControlName="name">
      <button type="submit"  [mat-dialog-close]="true" >Add</button>
    </form>
  </div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Category ID</th>
        <th>Category Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.ProductID }}</td>
        <td>{{ product.ProductName }}</td>
        <td>{{ product.CategoryID }}</td>
        <td>{{ product.CategoryName }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>